<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.12.0" >

<!-- versionCode is optional and Android only -->

  <name>fight club</name>

  <description>
      fight, but im testing
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      tajik07
  </author>
  
  <icon src="icon.png" />

</widget>